VITE_SUPABASE_URL=https://qznmsqubnavzgyrnfgfr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF6bm1zcXVibmF2emd5cm5mZ2ZyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcwNzczODAsImV4cCI6MjEwMjY1MzM4MH0.IzYC2lsRK-CH2eYhTOAEhjL1NyhDsftGGnDU8pv4g44
